<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Messages</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>  
         <% for(var i=0; i < data.length; i++) { %>
            <h1><%= data[i].title %></h1>
                <div class="paragraph">
                  <p><%= data[i].message %></p>
                </div>
                
                <div class="author"> Written by <%= data[i].username %></div>
                
                <a href="/post/<%= data[i].id %>">Comment</a>
                <% if(data[i].comments) { %>
                  <% for(var y=0; y < data[i].comments.length; y++) { %>
                    <br>
                    Comment <%= y+1 %>: <p><%= data[i].comments[y] %></p>
                  <% } %>
                <% } %>
              <% } %>
                

              <div class="center">
              <a href="/home"> Back</a>
            </div>
</body>
</html>